<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Carrito de Compras</title>
    
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/custom.css">
</head>
<body>

    <div class="container mt-5">
        <h1 class="text-center">Carrito de Compras</h1>

        <div th:if="${#lists.isEmpty(carrito.obtenerProductos())}" class="alert alert-warning text-center">
            El carrito está vacío.
        </div>
		
		<div th:if="${error}" class="alert alert-danger">
		    <span th:text="${error}"></span>
		</div>
		
		<div class="table-responsive mt-4" th:if="${!#lists.isEmpty(carrito.obtenerProductos())}">
		    <table class="table table-bordered table-hover">
		        <thead class="thead-light">
		            <tr>
		                <th>Producto</th>
		                <th>Descripción</th>
		                <th>Color</th>
		                <th>Talla</th>
		                <th>Precio</th>
		                <th>Cantidad</th>
		                <th>Total</th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr th:each="item : ${productos}">
		                <td th:text="${item.producto.nombre}">Nombre del Producto</td>
		                <td th:text="${item.producto.descripcion}">Descripción del Producto</td>
		                <td th:text="${item.color}">Color</td>
		                <td th:text="${item.talla}">Talla</td>
		                <td th:text="${item.producto.precio}">S/. 0.00</td>
						<td>
							<div class="input-group">
							    <a th:href="@{/actualizarCantidad/{codigo}/{accion}(codigo=${item.producto.idProducto}, accion='disminuir', talla=${item.talla}, color=${item.color})}" class="btn btn-outline-secondary">-</a>
							    <span th:text="${item.cantidad}">1</span>
								<a th:href="@{/actualizarCantidad/{codigo}/{accion}(codigo=${item.producto.idProducto}, accion='aumentar', talla=${item.talla}, color=${item.color})}" class="btn btn-outline-secondary">+</a>
							</div>
						</td>
		                <td th:text="${item.producto.precio * item.cantidad}">0.00</td>
		            </tr>
		        </tbody>
		    </table>
		</div>

        <div class="row">
            <div class="col-md-6 offset-md-6">
                <div class="card">
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Total: 
                                <span class="float-right" th:text="${carrito.precioTotal()}">S/. 0.00</span>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer text-right">
                        <a href="/productos" class="btn btn-secondary">Seguir Comprando</a>
                        <a href="/nuevoCliente" class="btn btn-primary">Comprar Ahora</a>
                    </div>
                </div>
            </div>
        </div>

        <script src="/assets/js/bootstrap.bundle.min.js"></script>
    </div>
</body>
</html>
