<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Clientes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <style>
        body {
            background-color: rgb(255, 255, 255);  
        }
        h1 {
            color: rgb(0, 0, 0); 
            text-align: center;
            margin-bottom: 30px; 
        }
        .btn {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h1 >Ingrese sus datos de Entrega</h1>
 
    <form th:action="@{/saveCliente}" th:object="${cliente}" method="post">
        <input type="hidden" th:field="*{idPersona}" />
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" th:field="*{nombre}" class="form-control" id="nombreCliente" required>
        </div>
        <div class="form-group">
            <label for="apellido">Apellido</label>
            <input type="text" th:field="*{apellido}" class="form-control" id="apellidoCliente" required>
        </div>
        <div class="form-group">
            <label for="correo">Correo</label>
            <input type="email" th:field="*{email}" class="form-control" id="correoCliente" required>
        </div>
        <div class="form-group">
            <label for="precio">Telefono</label>
            <input type="number" th:field="*{telefono}" class="form-control" id="telefonoCliente" required>
        </div>
		<div class="form-group">
		     <label for="">Dirección</label>
			 <input type="text" th:field="*{direccion}" class="form-control" id="direccionCliente" required>
		</div>
		        
        <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Guardar </button>
    </form>
</div>
</body>
</html>